<nav class="navbar navbar-expand-lg border-bottom border-2 border-primary" [ngClass]="bgMode == 'light'?'bg-light navbar-light':'bg-dark navbar-dark'">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Movie<i class="bi bi-search text-primary"></i>Finder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          
          
        </ul>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="updateBg()">
            <label class="form-check-label" for="flexSwitchCheckDefault" [ngClass]="bgMode == 'dark'?'text-light':'text-dark'">Dark Mode</label>
          </div>
      </div>
    </div>
  </nav>